
<router-outlet></router-outlet>

<form class="example-container" [formGroup]="form" #frmEncuesta="ngForm" (ngSubmit)="operar()">

  <div [hidden]="true">
      <mat-form-field class="example-full-width">
          <input matInput placeholder="ID" required formControlName="id">
      </mat-form-field>
  </div>

  <mat-form-field class="example-full-width">            
      <input matInput placeholder="Nombres" minlength="3" required formControlName="nombres">
      <small *ngIf="f.nombres.errors?.required" class="invalido">Nombre es requerido</small>
  </mat-form-field>

  <mat-form-field class="example-full-width">        
      <input matInput placeholder="Apellidos" required formControlName="apellidos">
      <small *ngIf="f.apellidos.errors?.required" class="invalido">Apellido es requerido</small>    
  </mat-form-field>

  <mat-form-field class="example-full-width">
      <input matInput placeholder="Edad" required formControlName="edad" type="number">
  </mat-form-field>

  <section class="example-section">
      <mat-radio-group formControlName="eleccion">
        <mat-radio-button *ngFor="let op of tipoLenguajes" name="opciones" [value]="op"  style="margin: 10px">
            {{op}}
          </mat-radio-button>
      </mat-radio-group>
  </section>
  <mat-form-field class="example-full-width">            
    <input matInput placeholder="Profesión"   formControlName="profesion">
</mat-form-field>

<mat-form-field class="example-full-width">        
    <input matInput placeholder="Lugar de Trabajo"  formControlName="lugarDeTrabajo">    
</mat-form-field>

  <button mat-raised-button color="primary" type="submit" [disabled]="frmEncuesta.invalid">
      <mat-icon>done</mat-icon>
      <span>Votar</span>
  </button>

  <button mat-raised-button color="accent" routerLink='/app/admin' type="button">
    <mat-icon>close</mat-icon>
    <span>Cancelar</span>
</button>
</form>
