  .example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container>* {
    width: 100%;
  }
  
  .invalido {
    color: red;
  }

  .example-section {
    margin: 12px 0;
  }
  
  